[2015-10-15 23:05] priyabrat1801 opened #1 "bower error while setting up seed"
Trying to setup seed on my mac. While doing bower install, having the below issue:

[code]

[2015-10-15 23:32] #1 closed, assigned to nobody

[2015-10-16 17:51] karenmcadams opened #2 "not able to git clone predix-seed"
I assume this is due to my credentials not being correct for github.com. How does one install from github inside GE network specifically San Ramon?

[2015-11-09 22:06] #2 closed, assigned to nobody

[2015-12-14 19:26] morficus opened #6 "post-install hook for bower dependencies"
Not everyone has Bower installed on their machine and this can be a barrier to new comers who just want to get the seed application up and running.

This issue is to request the use of [npm-scripts](https://docs.npmjs.com/misc/scripts) to expedite the installation of Bower dependencies while removing the need to have Bower installed globally.

[2016-01-11 05:52] ajayksingh75 opened #8 "ERR grep: Staticfile: No such file or directory"
When I push my app using cf push, I am getting this error "ERR grep: Staticfile: No such file or directory". Has anyone come across this or give some suggestion.

[2016-01-12 18:23] AnirbanKundu opened #9 "Predix-seed, grunt serve proxy issue"
When connecting from local to a micorservice deployed in VPC domain, following error is observed on the console :

`proxy: error - GET /api/data - getaddrinfo ENOTFOUND unison-web-services-dev.run.aws-usw02-pr.ice.predix.io`

Looks like the grunt-proxy is not able to take into consideration the company proxy it needs to go through while talking to a external URL. (In this case the api I'm trying t

[2016-01-12 20:47] #8 closed, assigned to nobody

[2016-01-12 20:50] ajayksingh75 opened #10 "Added User unable to access the Web App created from Dashboard Starter Pack"
I have created a Web App using Dashboard Starter Pack. After adding the user using UAAC commands and cf push, when I go to the Web App, I am unable to log in using the User Credentials.

[2016-01-15 00:50] shuheikudomi opened #11 "ERROR Running "vulcanize:dist" (vulcanize) task"
I get below error if I try "grunt dist" with the code uploaded an hour ago.

Running "vulcanize:dist" (vulcanize) task
ERROR finding /predix/Documents/PredixApps/predix-seed/moment/moment.js
ERROR finding /predix/Documents/PredixApps/predix-seed/highstock-release/adapters/standalone-framework.js
ERROR finding /predix/Documents/PredixApps/predix-seed/highstock-release/highstock.src.js
ERROR finding

[2016-01-18 03:58] #11 closed, assigned to nobody

[2016-02-10 20:12] romit7 opened #13 "bower install is failing with error"
bower requirejs#2.1.18               invalid-meta requirejs is missing "main" entry in bower.json
bower requirejs#2.1.18               invalid-meta requirejs is missing "ignore" entry in bower.json
bower requirejs#2.1.18                   resolved https://github.com/jrburke/requirejs.git#2.1.18
bower px-card#~v0.2.3                     ECMDERR Failed to execute "git ls-remote --tags --heads https:

[2016-02-19 12:56] mamidishetti opened #14 "when deploying predix seed application getting " ERROR: 'There is no timestamp for /base/public/bower_components/jquery/dist/jquery.min.js!'""
Hi Team,

when i'm running **grunt dist** command getting fallowing  error
--------------------------------------------------------------
D:\GEGDC\MD98012\predixSeedAPP\Dashboard_Starter_Pack_directory\predix-seed-develop>grunt dist
Running "clean:build" (clean) task

Running "jshint:src" (jshint) task

Running "jshint:test" (jshint) task

Running "jshint:src" (jshint) task

Running "jshint:test"

[2016-02-19 15:40] mamidishetti opened #15 "getting error when running grunt dist"
Hi Team,

when i'm running grunt dist command getting fallowing error

D:\GEGDC\MD98012\predixSeedAPP\Dashboard_Starter_Pack_directory\predix-seed-develop>grunt dist
Running "clean:build" (clean) task

Running "jshint:src" (jshint) task

22 files lint free.
Running "jshint:test" (jshint) task

6 files lint free.
Running "jshint:src" (jshint) task

22 files lint free.
Running "jshint:test" (jshint)

[2016-02-22 23:08] krisadler-ge commented on #9
This was also helpful to me. My problem was with the view services. The default json-proxy setup kept resulting in not-found errors on the URL, which I could access by browser and curl.

I brought in http-proxy-middleware and https-proxy-agent. I created a proxy agent using process.env.https_proxy || process.env.http_proxy. I then passed this agent in as as a configuration option to the http-proxy

[2016-02-29 13:25] mamidishetti opened #16 "how to connect predix - seep application to phppgadmin"
Hi Team,

Please help in connecting predix - seep application to phppgadmin.

Thanks
Divya.M

[2016-03-11 18:38] sathish256 opened #22 "Getting Error 404 while accessing predix-seed"

[2016-03-11 19:37] mdwragg commented on #22
Hi, these needs more detail, we can't address issues without a description!

[2016-03-11 19:37] #22 closed

[2016-03-11 19:37] mdwragg commented on #16
@jlindsay

[2016-03-11 19:38] mdwragg commented on #9
Closing as this appears to be resolved.

[2016-03-11 19:38] #9 closed

[2016-03-16 13:34] mrkb80 opened #23 "json-proxy causes issues with certain proxy servers"
When deploying the predix-seed app locally, the json-proxy library can cause issues interacting with certain proxy servers (particularly some GE proxy servers) which prevents the correct redirect rules from applying.  I HIGHLY recommend you switch to http-proxy-middleware library as it a) fixes these issues with GE b) will likely prevent others from having problems.

I have documented the changes

[2016-03-16 17:01] gstroup commented on #23
We definitely need to fix this issue.  (This is the same as issue #9 .)  Seed app just doesn't work on GE network, without changes to the proxy.
Mark - would you be able to make a pull request with this fix?  If not, I will try to find the time to do it.
Thanks.

[2016-03-22 07:25] shahid1ansari commented on #14
my grunt dist is also failing its straight away getting aborted. what resolution you got for your problem

[2016-03-22 16:28] gstroup commented on #14
Looks like Jquery is missing for some reason.  Did you run `bower install`?  Did it succeed?  Try running it again, then `grunt dist`.

[2016-03-28 16:37] gstroup commented on #9
Created a PR for this issue:  https://github.com/PredixDev/predix-seed/pull/24

[2016-03-30 08:41] futur opened #25 "MacOSX Issue with PhantomJS launcher (with Fix)"
I faced an error and it is resolved with an additional step, Just thought of sharing this with the community. When I executed

`grunt dist`

I faced the following error in the karma execution sequence.

`Running "clean:build" (clean) task

Running "jshint:src" (jshint) task

Running "jshint:test" (jshint) task

Running "jshint:src" (jshint) task

Running "jshint:test" (jshint) task

Running "clean

[2016-04-06 16:32] Training-Predix opened #26 "Grunt Dist Fails"
Running "vulcanize:dist" (vulcanize) task
ERROR finding /Users/212427954/code/githubcom/predixDev/predix-seed/public/bower_components/px-sample-cards/bower_components/d3/d3.js
Fatal error: ENOENT: no such file or directory, open '/Users/212427954/code/githubcom/predixDev/predix-seed/public/bower_components/px-sample-cards/bower_components/d3/d3.js'

[2016-04-06 18:19] mdwragg commented on #26
@gstroup - this is the same issue you referred to [here] (https://github.com/Polymer/vulcanize/issues/297), how did you fix the issue you were having?

cc/ @ek @runn-vermel

[2016-04-06 19:24] bbayo4 commented on #26
I have the same issue... I try to do npm shrinkwrap but that did not solve the problem. Any solution for this issue.

[2016-04-06 19:27] mdwragg commented on #26
Fixed by a734a01

[2016-04-06 19:27] #26 closed

[2016-04-06 19:28] mdwragg commented on #26
`shrinkwrap` solution works if you are using npm 3.x. This wont work in npm 2.x versions...

[2016-04-06 23:40] bbayo4 commented on #15
if you npm install and bower install you should not have that problem. You can download a new version which is available today then install your dependencies and you good to go.

[2016-04-08 08:16] Aanchal25 opened #30 "UI: Use of Bootstrap with Predix?"
I want to use bootstrap with Predix ,but when I do so all the grid layout classes does not come out nice with Predix.

[2016-04-12 19:19] jimkd1yv opened #31 "Error: tunneling socket could not be established, cause=read ECONNRESET"
N00b here, trying to install predix-seed as a demo.  Consistently getting error mentioned in subject.

Running on OSX Yosemite 10.10.5.  Searching this error, I tried a couple of variants on proxy settings as environment variables, as well as npm config set proxy.  Results still the same.  I also installed connect.js as mentioned here https://forum.predix.io/questions/3268/local-deploy-of-seed-app

[2016-04-12 19:40] alaviamir opened #32 "px navbar mainElement is not defined"
I encounter a javascript reference error when switching between nav items in the px-app-nav list.

Here is the where the issue is occurring:
polymer-loader.vulcanized.html:14951 Uncaught ReferenceError: mainElement is not defined

It appears that mainElement has not been defined at this point in time.

Please let me know if you've encountered this before and whether you have a fix/workaround for i

[2016-04-13 23:55] nonmetalhail commented on #6
@carlosfhernandez This is a feature request. Can you please prioritize this?

[2016-04-13 23:59] nonmetalhail commented on #13
@carlosfhernandez Can you please create a rally story for this?

[2016-04-14 00:00] nonmetalhail commented on #14
@carlosfhernandez Can you please create a rally story for this?

[2016-04-14 00:05] nonmetalhail commented on #25
@carlosfhernandez Can you please create a rally story for this? Sounds like we should capture it in our documentation

[2016-04-14 00:06] nonmetalhail commented on #30
@mdwragg Can you please add your expert opinion on this?

[2016-04-14 00:08] nonmetalhail commented on #31
@carlosfhernandez Can you please create a rally story for this?

[2016-04-14 00:09] nonmetalhail commented on #32
@carlosfhernandez Can you please create a rally story for this?

[2016-04-14 01:59] mdwragg commented on #6
Bower is a hard dependency on our platform, we won't be implementing this enhancement. Thank you for the suggestion though.

[2016-04-14 01:59] #6 closed

[2016-04-14 03:35] morficus commented on #6
Thanks for taking the time to understand the desire behind this request :-1:

[2016-04-14 19:21] alaviamir commented on #32
I changed the version of px-app-nav to the latest in bower.json and it fixed my issue

[2016-04-14 19:21] #32 closed

[2016-04-14 19:23] nonmetalhail commented on #32
Great. Glad to hear it. Thanks for following up.

[2016-04-18 18:18] mdwragg commented on #30
Hi - Predix UI has its own grid system, please take a look at: http://predixdev.github.io/px-layout-design/

Thanks for your question!

[2016-04-21 00:02] ggleizer opened #33 "Step 2 of View configuration example is probably wrong and misleading"
Here is the text in the readme:

I think that, in the example, the name of the instance is your_view_service? (Instead of your_view_service_instance)

Thanks,
Gabriel.

[2016-04-22 07:43] Aanchal25 commented on #30
I am unable to use the styles of **px-buttons-design**.

**How and where to use the below instructions, explain?**
Once installed, @import into your project's Sass file in its Objects layer:
@import "px-buttons-design/_objects.buttons.scss";

[2016-04-22 08:30] Aanchal25 opened #34 "Where to find the Dashboard Seeds' project Sass file?"
I need to import the "@import "px-buttons-design/_objects.buttons.scss" but not getting the project sass file.

[2016-04-22 16:50] nonmetalhail commented on #30
You can see an example in our other repos such as this one:
https://github.com/PredixDev/px-modal/blob/master/sass/px-modal-sketch.scss

The imports are grouped by hierarchy following the inuit css model:
1) Generic
2) Base
3) Objects
4) Component
5) Trumps

Make sure you also set the boolean flags for the styles you want before the import. For example:

[code]
See the design repo for the variable

[2016-04-22 16:52] #30 closed

[2016-04-22 16:52] nonmetalhail commented on #34
You can see an example in our other repos such as this one:
https://github.com/PredixDev/px-modal/blob/master/sass/px-modal-sketch.scss

The imports are grouped by hierarchy following the inuit css model:
1) Generic
2) Base
3) Objects
4) Component
5) Trumps

Make sure you also set the boolean flags for the styles you want before the import. For example:

[code]
See the design repo for the variable

[2016-05-09 13:20] ericfulkerson opened #37 "grunt dist is failing with the Error: EMFILE, too many open files"
When I was building a project I ran across this error in the Karma package. It can be fixed by updating the version of Karma to ~0.13.0 and Grunt-Karma to ~1.0.0

[2016-05-17 12:14] Aanchal25 opened #40 "Deploy predix UI on Jboss server?"

[2016-05-25 08:47] p021918 opened #41 "Dashboard Seed not working - card, widget, deck"
Overview screen (displaying card, widget, deck etc) of Dashboard Seed app on predix.io site is not working for several weeks.
We often use this app for customer demo. I have opened a ticket to support team, but in case of any code change impact on this, please advise. thanks

 https://www.predix.io/services/starter-pack.html?id=1225

https://predix-seed.run.aws-usw02-pr.ice.predix.io/dashboards

[2016-06-06 14:56] Aanchal25 opened #42 "How to disable the responsive structure of predix application on window resize?"

[2016-06-08 10:45] Aanchal25 commented on #42
Hey,my project is using predix but the project does not have responsive structure.Please let me know how to remove the responsiveness of predix

[2016-06-10 21:06] mdwragg opened #43 "Update version of px-data-table in seed"
Update version of px-data-table in seed to the latest version.

[2016-06-30 20:04] ahrobinson opened #44 "Add note about nginx error when doing cf push"
I think this [link](https://www.predix.io/support/article/KB0011527) should be added to the Views section, at least as a disclaimer for those having problems.

I created the view with hyphens in the name, but nginx reads it differently so my app would never build correctly when using cf push.

Upon reading the logs, I was getting these errors: https://www.predix.io/support/article/KB0011527

 I ha

[2016-06-30 20:08] ahrobinson commented on #44
Nevermind, spoke before reading all the way down.

[2016-06-30 20:08] #44 closed

[2016-07-11 22:12] john-k-ge opened #45 "grunt-bump causes npm install to fail"
Currently, the package.json stipulates grunt-bump version 0.8.0.  Unfortunately, this version of grunt-bump requires grunt version >= 1.0.1.  npm install works fine if grunt-bump is downgraded to 0.7.0 (which only relies upon grunt 0.4.0).

[2016-07-29 23:01] murone opened #47 "npm install fails on branch 'polymer-only' due to Grunt version dependencies"
Fails with following error:

npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v4.4.7
npm ERR! npm  v2.15.8
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package grunt@0.4.5 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer grunt-contrib-requirejs@0.4.4 wants grunt

[2016-08-01 05:47] srk289 commented on #10
any updates on this issue?

[2016-08-02 06:49] srk289 commented on #47
same issue here

[2016-08-02 13:10] murone commented on #47
Looks like it requires npm3.x, which is a shame because that causes conflicts in other places.
https://forum.predix.io/questions/10024/predix-seed-npm-install-error-peerinvalid.html

[2016-08-03 00:02] ek commented on #47
Hi @murone & @srk289

Good news: Grunt is being phased out of our development toolchain and we are migrating to Gulp so this should be resolved very soon! I'll follow up on this thread when completed.

[2016-08-03 00:35] srk289 commented on #47
@ek Thats awesome. I remember you talking about migrating to Gulp in our meeting in Vegas 👍

[2016-08-04 18:12] murone commented on #47
Was going to close because a new version of NPM fixes this, but on second thought I'll leave it open until @ek confirms the move to gulp.

[2016-08-08 06:15] srk289 commented on #10
?

[2016-08-16 22:29] davidsteinberger opened #48 "Polymer-only and protected routes"
I love the direction this project is headed w/ lots of Polymer and Gulp as the build tool.
However, I do not understand how the authentication flow is supposed to work. The _changes-to-seed.txt_ talks about _ensureLogin_ but I do not see that implemented anywhere. Also there's no nginx which does most of the oauth heavy-lifting on develop/master. Can somebody shed some light onto this?

[2016-09-01 00:13] Charlesjwilliams2 commented on #47
The README.md needs to be updated to remove references to grunt and add gulp notes.

[2016-09-07 21:55] gstroup commented on #47
Yes, please use gulp in polymer-only branch.  README also has been updated.

[2016-09-07 21:55] #47 closed

[2016-09-07 21:56] #23 closed

[2016-09-09 05:04] srk289 opened #50 "Polymer-only Branch: Gulp Doesn't Watch"
Gulp watch task isn't watching for changes in SCSS or HTML. The changes made are in effect only after we rerun gulp.

[2016-09-12 18:58] gedesigntech commented on #48
Thanks, @davidsteinberger for your questions and comments.  We are re-releasing the project as a Polymer implementation in the near future, likely within the month.  This initial Polymer-ized release will have the essential examples for navigation, routing, tests etc.  We have taken out authentication and NGINX integration to keep things simple, easily set up, and with emphasis on the frontend.  A

[2016-09-12 23:44] gedesigntech commented on #50
Fixed, thanks for raising this.

Commit info:
https://github.com/PredixDev/predix-seed/commit/99bf18dad1dbb1dfbcb6ab9f04203c6df18b9be6

[2016-09-12 23:44] #50 closed

[2016-09-15 22:31] nonmetalhail opened #51 "Polymer only: timeseries chart uses incorrect data"
It doesnt use a valid data format for the chart. It should either a) use the updated data format or b) (probably better) use the data converter to convert the old data into the new format

[2016-09-15 22:31] nonmetalhail opened #52 "Polymer only: timeseries not using proper Px defaults"
The timeseries should not use a tooltip by default. This is not part of the Px spec. It should have a register instead.

[2016-09-30 20:39] #34 closed

[2016-10-03 13:35] manderson23 opened #54 "Polymer Only: px-rangepicker doesn't render correctly (icons are massive)"
In the polymer only seed I replaced the blank-card element with the following px-rangepicker component

[code]
In the polymer only seed it doesn't render correct, the icons seems to being sized to fill the complete browser view. The issue occurs in both Firefox and Chrome though they aren't quite as large in Chrome.

In the angular seed this wasn't an issue. px-rangepicker rendered with the icon s

[2016-10-05 12:37] manderson23 commented on #54
For now we can workaround this be adding the following to seed-these.scss
[code]

[2016-10-05 20:25] mdwragg commented on #54
Hi,

Whoa - cool icons!

I just tried this out in the latest commit on `polymer-seed` and all looks good to me. We've done a world of fixin' up this last week to make it a lot more polished...

Just as an aside, those style changes you made _should_ work for now but will break in a browser with shadow dom turned on by default - this would stop style leakage into web components.

My markup looks li

[2016-10-06 18:56] manderson23 commented on #54
Thanks. I'll take a look at pulling in the latest seed changes at some point.

[2016-10-06 18:56] ppeyro opened #55 "Polymer-Only: When viewing a child asset, breadcrumb under the selector is incorrect."
In Polymer seed app, navigate to the child asset/detail view page by selecting the Select Context dropdown and opening the child asset in the context browser.
Note the breadcrumb on the top left hand corner doesn't reflect the correct view.  It still shows, parent asset not "parent asset > child asset".
Screenshots of angular seed vs. Polymer seed included.

![context_browser_breadcrumb_issue](htt

[2016-10-06 19:04] ppeyro opened #56 "When viewing a child asset in context browser, dashboard in the nav bar is not functional."
In Polymer Seed app, navigate to the child asset view in context browser.
Note the dashboard in side nav is not functional. Expected selecting "Dashboards" in side nav would redirect back to the main page and clear the context.
In contrast, when in child asset view, selecting the blank page option in side nav redirects to blank page as expected.

The behavior is actually the same in the angular ve

[2016-10-06 19:32] ppeyro opened #57 "Polymer-only: Multiple rendering issues on Win8.1+IE11."
Seed App on Win8.1+IE11 has multiple issues, the main ones listed here:
1. App doesn't render in IE11+Windows 8.1 unless not in compatibility mode.
2. If not running in IE compatibility mode, the only components that render properly are the side nav and context browser and the footer.
3.  In Context browser, the vertical separator lines are not rendered properly.  This is also an issue in Win7+IE1

[2016-10-06 19:33] #54 closed

[2016-10-06 19:33] mdwragg commented on #54
👍

[2016-10-06 19:36] mdwragg commented on #40
Not enough info to answer, closing.

[2016-10-06 19:36] #40 closed

[2016-10-06 19:37] mdwragg commented on #15
Closing due to answer provided, age and that we've moved to gulp, also.

[2016-10-06 19:37] #15 closed

[2016-10-06 19:38] mdwragg commented on #13
Fixed in 0a8c1c8c1a56a35a375c018e65d2c2a27cf251fa

[2016-10-06 19:38] #13 closed

[2016-10-06 19:38] mdwragg commented on #31
Fixed in 0a8c1c8c1a56a35a375c018e65d2c2a27cf251fa

[2016-10-06 19:38] #31 closed

[2016-10-06 19:39] mdwragg commented on #45
Fixed in 0a8c1c8c1a56a35a375c018e65d2c2a27cf251fa

[2016-10-06 19:39] #45 closed

[2016-10-06 19:39] mdwragg commented on #43
Fixed in 0a8c1c8c1a56a35a375c018e65d2c2a27cf251fa

[2016-10-06 19:39] #43 closed

[2016-10-06 19:40] mdwragg commented on #16
Closing due to age/not enough information provided.

[2016-10-06 19:40] #16 closed

[2016-10-06 19:54] ppeyro opened #58 "Polymer-only: Jittering when expanding/collapsing the side nav in Win7+IE11"
Open the seed app in a win7+IE11 browser.
Note, selecting the hamburger to collapse/expand the side nav horizontally causes a jittering effect on the side nav.
No errors/warnings in console log to post in this issue.

[2016-10-06 21:05] ppeyro opened #59 "Polymer-Seed: Replace the bar chart in child asset view with time series chart."
Bar chart deprecation message in browser console log when viewing the child asset/detail view.  Should replace the bar chart example with times series in the near future.

![deprecation_barchart](https://cloud.githubusercontent.com/assets/10835611/19170540/b4edbe1c-8bcd-11e6-87f0-fd3719468fe6.png)

[2016-10-06 21:40] ppeyro opened #61 "Polymer-only: Padding issue in context browser/overview dropdown"
Should fix the missing padding issue in Context browser/overview dropdown.

![overview_dropdownpadding](https://cloud.githubusercontent.com/assets/10835611/19171659/c083794c-8bd2-11e6-98ef-b650472de9fc.png)

[2016-10-07 01:13] mdwragg commented on #37
Fixed by 0a8c1c8c1a56a35a375c018e65d2c2a27cf251fa - we've moved away from both Grunt and karma in favour of gulp and WCT.

[2016-10-07 01:13] #37 closed

[2016-10-07 01:14] mdwragg commented on #25
Fixed by 0a8c1c8c1a56a35a375c018e65d2c2a27cf251fa - we've moved away from grunt & karma in favour of gulp & WCT.

[2016-10-07 01:14] #25 closed

[2016-10-07 03:21] LotharSchubert commented on #25
Great thanks.

From: Martin Wragg [mailto:notifications@github.com]
Sent: Thursday, October 6, 2016 6:14 PM
To: PredixDev/predix-seed <predix-seed@noreply.github.com>
Subject: EXT: Re: [PredixDev/predix-seed] MacOSX Issue with PhantomJS launcher (with Fix) (#25)

Fixed by 0a8c1c8<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_PredixDev_predix-2Dseed_commit_0a8c1c8c1a56a35a375c018e

[2016-10-07 03:21] LotharSchubert commented on #37
Great thanks.

From: Martin Wragg [mailto:notifications@github.com]
Sent: Thursday, October 6, 2016 6:13 PM
To: PredixDev/predix-seed <predix-seed@noreply.github.com>
Subject: EXT: Re: [PredixDev/predix-seed] grunt dist is failing with the Error: EMFILE, too many open files (#37)

Fixed by 0a8c1c8<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_PredixDev_predix-2Dseed_commit_0a8c1c

[2016-10-07 21:28] gstroup commented on #59
Yes, we plan to remove the px-chart and use px-vis-timeseries.  Thanks!

[2016-10-10 09:46] chuanyou-tang opened #62 "SyntaxError: Use of const in strict mode."
trying to run the new seed app in the devbox (3.4.5-i) but got following error:

[code]

[2016-10-10 15:40] gstroup commented on #62
Thanks for raising this issue.  Can you please try to update node to the latest LTS version?  Then you'll need to reinstall the predix-seed modules using `npm install` again.  I think we probably need to update the package.json file for this project, and also update the node version on the dev box.  Thank you.

[2016-10-10 15:42] gstroup commented on #10
Please try again with the latest predix-seed code.  UAA is no longer required.  Closing this issue.  Thanks.

[2016-10-10 15:42] #10 closed

[2016-10-11 00:38] mdwragg commented on #62
Hi, I'll close this as it looks like an old version of node is used in "dev box" (not exactly sure what that is?). Can you report this issue to whoever maintains dev box please? Thanks!

p.s. `const` has had support for quite a while in node: http://kangax.github.io/compat-table/es6/

[2016-10-11 00:38] #62 closed

[2016-10-11 01:14] turnerth commented on #62
no need.  Dev Box has been upgraded to the latest version of node.
[predix@predix-devbox ext-interface]$ node -v
v6.3.0

[2016-10-11 01:23] mdwragg commented on #62
Cool. Thanks for confirming @turnerth

[2016-10-11 01:24] mdwragg commented on #14
jQuery (and Angular) is now dropped from the latest seed so will close this...

[2016-10-11 01:24] #14 closed

[2016-10-12 16:20] mamidishetti opened #64 "px-datatable is not working in IE"
hi team,

when i have included px-data table. application is working fine in chrome and it is not working in IE
Please help me in fixing this issue

[2016-10-12 16:23] mdwragg commented on #64
Please upgrade to latest version of Polymer (1.7.0). There is a detailed conversation here: https://github.com/PredixDev/px-data-table/issues/53

[2016-10-13 14:06] arnaudLC35 opened #65 "Predix-seed: polymer only"
Hi,

In Predix-seed (polymer only and now develop) the dashboard is using bespoke px-deck-index and px-deck which don't seems to have the capability of sharing context between cards which they include or between other cards defined in the dashboards-view compare to px-deck, px-dashboard and px-card defined in px-card.

While moving from the bespoke px-deck-index to px-dashboard it is required to s

[2016-10-14 11:00] imthinhvu opened #66 "How to migrate from angular-seed to polymer-only-seed"
Are there step by step instructions on how to migrate a Predix project using the angular-seed to the new polymer-seed? If not, will there be guidance on migrating later on?

[2016-10-14 16:51] gedesigntech commented on #65
Hi @arnaudLC35 it is correct that px-deck and px-deck-index are custom elements that are part of the new Polymer based seed (by the way, it is also the master branch).  As such, these custom elements are only provided as examples, with no guarantees for full functionality and being free from bugs.

Alternatively, you are free use other elements.  For example, you can replace dashboards-view's cont

[2016-10-17 23:43] gedesigntech commented on #66
There are currently no plans to provide instructions on migrating from the previous version of the seed to the new one, as the new code and the provided examples should be sufficient.  We would gladly answer questions on the new version, to further assist.  Thanks

[2016-10-17 23:43] #66 closed

[2016-10-18 18:35] gstroup commented on #33
Closing, since the seed app now uses Express, not nginx.

[2016-10-18 18:35] #33 closed

[2016-10-19 17:44] gedesigntech commented on #41
Hello, thanks for reaching out and sorry for the delayed response.  Alot has happened with the development of the seed, and we have just released a major new version at the start of this month.  Please see the 'master' and 'develop' branches for the new version.  The demo of this new version can be seen at:

https://predix-ui-seed.run.aws-usw02-pr.ice.predix.io/

The previous version (in the URL y

[2016-11-15 22:29] gedesigntech commented on #65
Closing this issue - will not fix in the Predix UI Seed, but will fix in px-deck and px-deck-index if these become official Predix UI components

[2016-11-15 22:29] #65 closed

[2016-11-15 22:31] gedesigntech commented on #41
New version of seed will continue to be developed and maintained.  Older Dashboard Seed no longer developed and supported, but documentation still available.

[2016-11-15 22:31] #41 closed

[2016-11-15 22:32] gedesigntech commented on #48
New version of the seed released on Oct 6.  Upcoming release (most likely mid-December) will contain tutorial and sample code for authentication integration.

[2016-11-15 22:32] #48 closed

[2016-11-15 22:34] gedesigntech commented on #55
Fixed and fix will be available in upcoming release (most likely mid-December)

[2016-11-15 22:34] #55 closed

[2016-11-15 22:35] gedesigntech commented on #59
Time series chart and appropriate data source placed;  will be available in upcoming release (most likely mid-December)

[2016-11-15 22:35] #59 closed

[2016-11-15 22:36] #64 closed

[2016-11-15 23:21] gedesigntech commented on #56
This seems working as designed.  When navigating to a different node in the context browser, the Dashboards view is still in place.  Hence, when 'selecting' Dashboards in side nav when Child Asset view is active, you are simply selecting what is already active.

[2016-11-23 00:01] musti2 opened #72 "Blank page when securing all routes with example from tutorial"
Hi Team,

Following the example from the tutorials folder for USERAUTH - the block of code provided to ensure all routes are secured is working. However, on a successful login, the page is blank (no elements are rendered??).

Instead, i have taken this middleware approach which does the trick:
[code]

[2016-12-01 08:57] mirekPindjak opened #73 "How to link predix time series to a px-vis-timeseries element"
Hi
Is there a plan to update "SERVINTEG.md" with an simple example how to link a predix service such asset or timeseries to polymer elements?
Thank you
Mirek

[2016-12-01 17:37] gstroup commented on #73
Yes, we hope to publish some guides on that topic soon.  For now, please look in the branch called microservice-integration.

[2016-12-01 17:43] revunurisatish opened #74 "npm install fails for web-component-tester dependency"
Not able to setup seed on local machine, fails in npm install phase giving error for web-component-tester dependency

[2016-12-02 16:09] mdwragg commented on #74
Hi,

Installation issues for WCT should be logged against the WCT repo - https://github.com/Polymer/web-component-tester

Thanks.

[2016-12-02 16:09] #74 closed

[2016-12-02 16:12] mdwragg commented on #74
Hi,

I've removed WCT from the `devDependencies` for the seed, it is not required locally. WCT is usually installed globally. This should allow you to at least install the seed and its dependencies but wont solve your WCT installation problems overall :-)

CC/ @gedesigntech

[2016-12-02 18:14] gstroup commented on #74
`gulp dist` task is failing now, unless you have wct installed globally.  So... should we add note to README explaining that this is required??  Or keep it in the package.json?

[2016-12-02 18:17] gstroup commented on #74
actually, looks like we will need to add it back in to package.json.

[2016-12-02 23:30] mdwragg commented on #74
WCT shouldn't be ran by `gulp`, it should be installed globally. Apologies I missed that it was in the gulpfile too...

[2016-12-02 23:31] mdwragg commented on #74
(well, it _could_ be ran by gulp but for consistency with the rest of Predix UI, probably not ;)

[2016-12-06 13:27] mirekPindjak commented on #73
Hi
Could you be more specific about when you plan to write few lines about the topic? Q1 2017?

It would be highly appreciated If there is anyone (reading this case) who can help me with that before the guide is written.
Thanks
Mirek

[2016-12-06 17:29] gstroup commented on #73
Should be published in the next few days.  I'm writing a tutorial now.  In the meantime, we already have similar tutorials here:
https://www.predix.io/resources/tutorials/journey.html#1605
That shows how to call Predix time series from the nodejs-starter app.  If you have specific questions, please post on the predix.io forum.

[2016-12-08 00:49] #56 closed

[2016-12-08 18:58] cnd5041 opened #77 "Tutorial (Adding Authentication to the Predix UI Seed) outdated"
#7245fcd
Commit: 7245fcd3fb07ed2e208f27d4bf07c8126c288465

I think this causes the file to deviate from the tutorial: https://github.com/PredixDev/predix-seed/blob/develop/tutorials/USERAUTH.md

i.e. in the tutorial, it says to go to /secure after entering localConfig values, which does not work. Also, the 'Authenticating All Routes' section is probably different.

[2016-12-08 19:55] gstroup commented on #77
Thanks for catching this.  I updated the app, so the /secure route will still work, mainly just for educational purposes.  And I updated the USERAUTH.md file to explain the situation.  Let us know if you see any more problems.

[2016-12-08 19:55] #77 closed

[2016-12-14 10:40] 505627531 opened #78 "Polymer custom elements are not loading inside dom-if condition in firefox"
Polymer custom elements are not loading inside dom-if condition in firefox, working in chrome perfectly

[2016-12-15 08:58] mirekPindjak opened #79 "After CF Push - Getting browser error Polymer is not a function"
Hi
I have deployed seed app into cloud (cf push). I have changed only app name, and nothing else.
When I browse the deployed app I get and error: "Polymer is not a function".
Is there something I did wrong?
Deployed app URL:
https://predixlabseed.run.aws-usw02-pr.ice.predix.io

Thanks
Mirek GE

[2016-12-15 17:26] gstroup commented on #79
Are you using the latest code?  This was an issue that we fixed 10 days ago.  Please pull the latest code and try again.  Also don't forget to run `gulp dist` before `cf push`

[2016-12-16 23:54] danharrelson opened #81 "Consider renaming this repo"
The name `predix-seed` implies something different than the `predix-ui-seed` actually delivers. If not terribly problematic then consider renaming it.

[2016-12-18 17:17] prakashdge opened #82 "Cannot find module 'gulp-load-plugins'"
I ran following commands in my local

npm install --global gulp
npm install
gulp
then getting the following error.

Error: Cannot find module 'gulp-load-plugins'
at Function.Module._resolveFilename (module.js:325:15)
at Function.Module._load (module.js:276:25)
at Module.require (module.js:353:17)
at require (internal/module.js:12:17)

[2016-12-20 00:26] mdwragg opened #84 "Spacings should be derived from px-spacing-design"
As per comments in https://github.com/PredixDev/predix-seed/pull/83, all spacing units should be derived from https://www.predix-ui.com/?show=px-spacing-design&type=css.

[2016-12-20 00:26] mdwragg commented on #84
(specifically seed-footer.scss)

[2016-12-20 16:16] mdwragg opened #87 "Icons missing from app nav in latest push"
Seems the icons are gong missing in the app nav in the recent test push to CF.

[2016-12-20 18:35] ppeyro opened #88 "Detail View: Timeseries resize issue when navigating back to the view."
1) Navigate to detail view.
2) Use the side nav to navigate to blank page.
3) While on blank page, resize your browser window.
4) Navigate back to the detail view and note the timeseries chart has been resized.
5) Resizing the browser window back to the original size, doesn't fix the issue.

Looks like the height of the card is not adjusting to accommodate proper rendering of the chart.

Screensho

[2016-12-20 18:42] ppeyro opened #89 "Getting a 404 on load when the seed app is deployed to the cloud."
Pre-req: Deploy the seed to the cloud and use Safari 9.1.2.
1) Open the console log and load the seed.
2) Note the 404 error on web-animations-next-min.js.map

Doesn't seem to affect functionality, possibly related to nav-app collapse/expand?
Havent' seen this in other browsers, except Safari 9.1.2.

Screenshot:
![screen shot 2016-12-20 at 10 38 31 am](https://cloud.githubusercontent.com/assets/10

[2016-12-20 18:48] ppeyro opened #90 "NS_Error_Failure when resizing the detail view in Firefox."
1) Navigate to the Detail View on the seed.
2) Resize the browser window.
3) Note the error in console log coming from px-simple-chart-common-behavior.js

Seen in Firefox, version 50.0.1.

Screenshot:

![screen shot 2016-12-20 at 10 44 49 am](https://cloud.githubusercontent.com/assets/10835611/21363529/cea57854-c6a1-11e6-8cfc-f638c963d438.png)

[2016-12-20 20:04] ppeyro opened #91 "Missing icons and context browser down arrows in the cloud deployed version of the seed app."
Latest version of the seed deployed to the cloud: https://predixuiseed.run.aws-usw02-pr.ice.predix.io/#/dashboards is missing the icons in the nav bar and the arrows in the context browser/dropdown.
No 404 errors in console log. Possibly a caching issue?
Was able to reproduce on all browsers on the mac with cache disabled.

Screenshot:

![screen shot 2016-12-20 at 8 50 12 am](https://cloud.githubu

[2016-12-20 23:20] gedesigntech commented on #51
This has been resolved in the 3.1.0 release.

[2016-12-20 23:20] #51 closed

[2016-12-21 00:16] ppeyro commented on #61
This has been fixed in the latest version3.1.
Screenshot:

![screen shot 2016-12-20 at 4 14 13 pm](https://cloud.githubusercontent.com/assets/10835611/21372947/9032d408-c6cf-11e6-8a86-3c0c7683a0af.png)

[2016-12-21 00:16] #61 closed

[2016-12-21 00:46] ppeyro opened #92 "Using iron-ajax to load timeseries chart data from sample data doesn't render the chart in IE11."
Uncommented the iron-ajax statement in winddata-view.html file to enable adding a third nav option in the app-nav and loading timeseries data from sample json data in server/time-series/delta-egt.

I was able to get that the chart to render data in FF, Chrome and Safari; however, win8.1+IE11 and win7+IE11 don't render at all.  There are no errors in their console log either.

Screenshots:

In Fire

[2016-12-21 00:59] ppeyro opened #93 "Footer Rendering issue in IE11 with local instance of seed."
This issue only occurs if the seed app is not deployed to the cloud.  When pointing the browser to a local instance, the footer sometimes doesn't render in IE11 (Win7+IE11) at all and sometimes(win8.1+IE11), it renders with none of the text elements.  If the seed is deployed to the cloud and you use IE11 to view it, the footer is present.

See Screenshots:

Win8.1+IE11 (VM):

<img width="1276" alt

[2016-12-21 01:05] ppeyro commented on #57
Verified these issues with the latest version of the seed and they all seem to be addressed but other issues exist. Opened new issues for tracking those.

Attaching a screenshot of the win8+IE11 view.
<img width="1307" alt="screen shot 2016-12-20 at 5 05 12 pm" src="https://cloud.githubusercontent.com/assets/10835611/21373817/887d6280-c6d6-11e6-87d3-27f3c51a7c57.png">

[2016-12-21 01:05] #57 closed

[2016-12-21 01:09] ppeyro commented on #58
No longer see this issue in the latest version of Seed, 3.1.
Closing this out.

[2016-12-21 01:09] #58 closed

[2016-12-22 13:59] mirekPindjak commented on #79
Solved when using the latest code version.
Thank you very much to Greg Stroup

[2016-12-22 13:59] #79 closed

[2017-01-11 12:42] mirekPindjak commented on #73
Hi and happy new year!
Have you got a chance to advance on the tutorial yet?
Thanks
Mirek

[2017-01-11 13:30] suman28 commented on #82
run the following command:

npm install gulp-load-plugins --save

[2017-01-11 17:37] gstroup commented on #73
Still working on scripting and finalizing the tutorial.  But for now, you can look at the winddata-view for a basic example.
https://github.com/PredixDev/predix-seed/blob/develop/public/elements/views/winddata-view.html
Hope this helps.

[2017-02-02 20:11] cnd5041 opened #102 "Receiving 401 Unauthorized after auth token expiration"
Hi, I am using the server code, and have login/authentication working with Shared UAA, it's hooked up to redis and everything and running in CF/Predix.

The issue I am seeing is that when I go to the site the next day, I am only receiving a 401. I'm assuming the auth token is expired, but it does not seem to be redirection.

I have the entire app secured via this code in app.js:

[code]

I am wond

[2017-02-02 21:27] gstroup commented on #102
Good question.  I haven't seen this behavior myself.  It's possibly a passport config problem, but the '/' root path should redirect back to the UAA login page.  Is your app using calling some other route that could give you the 401?

[2017-02-03 14:34] cnd5041 commented on #102
No, the only other routes are to an API, but those aren't protected right now, they're just attaching the auth headers.

I'm guessing it's passport/configuration. It's odd that in a fresh session, it re-directs, but does not in the case of an expired token.

[2017-02-03 17:35] gstroup commented on #102
OK, I'll try to reproduce and fix, but it might take a few days.  :)  This line looks wrong to me:
https://github.com/PredixDev/predix-seed/blob/master/server/passport-config.js#L14
I'm thinking that authenticationURL should be set to predixConfig.uaaURL, same as the other strategy...

[2017-02-04 03:08] cnd5041 commented on #102
Very possible. I'll have to give that a try.
Thanks for the help.

[2017-02-08 21:30] gstroup commented on #82
This module is specified in the package.json.  Must have been a problem during your npm install.

[2017-02-08 21:30] #82 closed

[2017-02-13 05:22] akshayeshenoi opened #104 "Unable to retrieve user information from Shared-UAA using the default passport strategy"
Hi,
I've configured the seed to work with Shared-UAA. Login and authentication works, but I can't seem to retrieve user information from the endpoint:
[UAA URL]/userinfo

Is there something wrong with the Passport strategy?

[2017-02-13 18:44] CColon1 opened #105 "Trouble authenticating with GE SSO"
After configuring SSO integration with UAA, authorization doesn't work after a successful callback. Is there some change I need to make to passport for this to work?

[2017-02-13 21:49] gedesigntech commented on #105
Hi, Can you provide code samples to demonstrate your issue?

[2017-02-14 20:38] #105 closed

[2017-02-14 20:52] gstroup commented on #104
Good question.  We do need to add a route to the predix-seed for the UAA /userinfo endpoint.  I'm not convinced it should be part of the Passport package though.  We are planning to add a /userinfo route to the predix-seed server application which will add the token, and proxy the request through to your UAA instance.

[2017-02-15 11:25] akshayeshenoi commented on #104
Oh alright.
To get around the problem, I just added a middleware after passport authentication that fetches the information from /userinfo by adding the access token in the header.
It adds the details to the _request_ object which I can use later.

[2017-02-15 17:44] gstroup commented on #104
Great, I'm glad you figured it out.  If you think your solution is good, and reusable, we would be happy to take a pull request.  :)  Thanks.

[2017-02-28 03:56] #104 closed

[2017-03-02 10:32] schaveyt opened #110 "Any design templates around for predix-ui?"
I am looking for any photoshop or visio or powerpoint templates?

[2017-03-02 19:50] randyaskin commented on #110
We have Sketch and Illustrator stencils for Predix UI, you (as a GE employee) can access them on [design.team.ge.com/predix/platform](design.team.ge.com/predix/platform) under the blue Download Assets link.

[2017-03-06 21:32] bsyk opened #111 "Why is this repo so large?"
Why is this repo so large?  Cloning it took 48 MB!
[code]

[2017-03-06 21:49] #72 closed

[2017-03-07 06:34] RUjjwal commented on #104
Hi akshayeshenoi, I am also facing the same issue. If possible, can you share your middleware which you have created. I am not able to get userinfo from "/userinfo" endpoint. Thanks in advance.

[2017-03-07 17:08] gstroup commented on #104
His middleware is available now on the "develop" branch of this repo.  Will be merged in to master branch, probably in a few weeks.  See server/routes/user-info.js

[2017-03-07 17:31] gstroup commented on #111
Good question.  About 90% of those bytes are in the .git history.  (You might say this project has a long colorful history.)  We're looking at ways to reduce the size, and we've been considering moving to a new fresh "predix-ui-seed" repo anyway, which would also solve this problem.

[2017-03-13 20:31] schaveyt commented on #110
Thx!

[2017-03-13 20:31] #110 closed

[2017-03-16 08:22] PiotrekPaprocki commented on #102
I have similar issue when i log in to the app, leave for the night (or just wait for token expiration) and access some secure route.
Then I'm redirected to the login page, and log in properly. I have access to secured routes of my webserver  but I get 401 (invalid token) if I want to access secured backed services (spring boot).

When I remove session cookie manually or logout (which destroys sess

[2017-03-16 16:14] gstroup commented on #102
I think we do have some issues with refreshing tokens in the seed app.  We'll investigate and try to fix in our next release.  @cnd5041 Have you made any headway on this issue??  Thanks.

[2017-03-16 16:53] cnd5041 commented on #102
@gstroup I haven't tried it with Redis yet.
I set the cookie.maxAge in the sessionOptions (to be shorter than your token validity).

`cookie: {
            maxAge: 7000
        },`

[2017-03-17 10:39] PiotrekPaprocki commented on #102
I set the cookie.maxAge as you suggested and it seems to work, but I need to test it a little bit more.

[2017-03-30 12:34] davidsteinberger commented on #102
We've been bitten by this issue too. Is there a good workaround?

[2017-03-30 15:10] cnd5041 commented on #102
@davidsteinberger There is not a Redis workaround that I know of yet. See comments above about the cookie and maxAge. It's using the session rather than redis.

[2017-03-30 16:56] gstroup commented on #102
Yeah, I think the workaround is to set the cookie max age, like @cnd5041 says.  Normally, you want your web server session to expire before the oauth token expires.  This should prevent the problem.  I'm still testing it myself to verify, but I think it's a good fix.  Planning to include it in the predix-seed soon.  (This is not related to redis, just web server session expiration vs. oauth token

[2017-03-30 19:13] PiotrekPaprocki commented on #102
For me it's working fine since I've implemented it two weeks ago. But don't you all think it's a little bit dirty hack? And what about refresh token, will the change affect it?

[2017-04-05 11:33] pagadalasrikanth opened #114 "Changing the seed px-color from light to dark"
Current predix seed imports px-colors-design/_settings.colors.scss in the seed-theme.scss.
If I try to import the px-colors-design/_settings.colors-dark.scss, it throws an error

Error: Undefined variable: "$gray9".
        on line 9 of public/seed-theme.scss

As the _settings.colors-dark.scss contains "$d-gray9" instead of "$gray9" it will throw an error.
 How can we avoid this issue ?

And is th

[2017-04-06 13:52] jiqiang opened #115 "Why restart server/app.js when javascript files changed in public folder?"
In tasks/serve.dev.start.js, gulp-nodemon watches javascript files change in public folder and restart server/app.js. However, javascript files in public folder are used for UI (front-end) only. As restarting server/app.js doesn't trigger browser reload, the result of this action has nothing related to the front-end javascript change . Shouldn't it watch node scripts in server folder?

[2017-04-06 17:20] gstroup commented on #115
I don't see the behavior you're describing.  The "watch.public" task only watches the public directory:
https://github.com/PredixDev/predix-seed/blob/master/tasks/watch.public.js
nodemon only restarts the server if the /server directory changes.

[2017-04-06 23:22] jiqiang commented on #115
@gstroup thanks for your quick response!
Here are the steps to re-produce this behavior:

1. git clone --depth 1 https://github.com/predixdev/predix-seed
2. cd predix-seed
3. npm install
4. bower install
5. gulp
6. try to create or update any javascript files inside public folder (e.g touch public/elements/px-deck/test.js) and keep an eye on the console. You will see this:

![screen shot 2017-04-0

[2017-04-12 23:24] gstroup commented on #114
At the moment, the seed app does not support different themes.  (As you discovered!)  This is a good idea though.  We should make the seed app "themable" i.e. supporting various themes.  Hopefully we can add this support soon.  I'll mark this as a feature request for now.  Thanks.

In the meantime, you'll have to change those lines in seed-theme.scss to use the $d- variables.

[2017-04-19 21:00] kasuladevivijay opened #116 "gulp not compiling SCSS file to CSS"
Hi,

gulp is not compiling the **public/index-inline.scss** file to **public/index-inline.css** file, As a result the predix-ui css styles are not being applied. In the previous versions of predix-seed it used to work and we get the compiled **index-inline.css** file.
I have tried with predix tables css and the result is like this
![issue](https://cloud.githubusercontent.com/assets/6322307/2520190

[2017-04-21 15:17] randyaskin commented on #114
Actually, it can be themed. First run `bower install px-dark-theme`, then in _index.html, change lines 15 and 16 from px-theme to px-dark-theme. Voila! No need to mess with sass variables or px-colors-design.

[2017-04-21 16:06] gstroup commented on #114
My mistake!  Thanks @randyaskin

[2017-04-21 16:06] #114 closed

[2017-04-22 01:33] pagadalasrikanth commented on #114
@randyaskin Explored the dark theme and it worked :+1:
What I would love to see is to change the theme from px-dark-theme to px-theme in the runtime.

[2017-04-24 19:13] randyaskin commented on #114
I haven't tried this myself, but I know our team is working on something similar for our demo pages to switch between light and dark themes. If you're able to dynamically update the URL / style declaration, you may need to use the Polymer.updateStyles() method per https://www.polymer-project.org/1.0/docs/devguide/styling#style-api

[2017-04-28 02:19] charnpreetsingh commented on #116
I'm also having this issue.

[2017-05-05 22:48] nonmetalhail opened #117 "Dependencies are horribly out of date"
The Predix UI components that come packaged with the seed are horribly out of date. This leads to a dependency hell for users who try to develop off the seed. They need to be updated to current versions or at least come with instructions informing the developers they need to do this.

[2017-05-09 07:59] ugurk opened #118 "IE 11 Issues"
It does not work properly, see screenshot:

* No footer menu
* Left menu overflow

![ie11_issue](https://cloud.githubusercontent.com/assets/642063/25840905/72bf83ea-34a6-11e7-9cae-94de1a4a8fab.png)

OS: Windows 7
Browser: IE 11

[2017-05-09 18:03] turnerth commented on #118
Hi there, please try out https://github.com/PredixDev/predix-webapp-starter instead.

[2017-05-09 18:03] #118 closed

[2017-05-09 18:37] gstroup commented on #117
Check out the new repo, with more recent versions of px components.
https://github.com/PredixDev/predix-webapp-starter
If you see problems, please open an issue in that repo.  Thanks.

[2017-05-09 18:37] #117 closed

[2017-05-09 18:55] gstroup commented on #81
After some discussion, we've renamed to Predix Web App Starter, and moved to a new repo:
https://github.com/PredixDev/predix-webapp-starter

[2017-05-09 18:55] #81 closed

[2017-05-11 23:26] gstroup commented on #93
Closing.  New issue is here:
https://github.com/PredixDev/predix-webapp-starter/issues/1

[2017-05-11 23:26] #93 closed

[2017-05-11 23:27] gstroup commented on #89
fixed in predix-webapp-starter

[2017-05-11 23:27] #89 closed

[2017-05-11 23:34] gstroup commented on #116
Try the new starter app: https://github.com/PredixDev/predix-webapp-starter

In this app, the index-inline.scss is compiled to index-inline-styles.html.

[2017-05-11 23:34] #116 closed

[2017-05-11 23:39] gstroup commented on #111
Check out the new starter app:
https://github.com/PredixDev/predix-webapp-starter

`Receiving objects: 100% (169/169), 890.46 KiB`

[2017-05-11 23:39] #111 closed

[2017-05-12 00:04] gstroup commented on #91
fixed in web-app-starter

[2017-05-12 00:04] #91 closed

[2017-05-12 00:05] gstroup commented on #87
fixed in predix-webapp-starter
https://github.com/PredixDev/predix-webapp-starter

[2017-05-12 00:05] #87 closed

[2017-05-12 00:08] gstroup commented on #90
fixed in predix-webapp-starter
https://github.com/PredixDev/predix-webapp-starter

[2017-05-12 00:08] #90 closed

[2017-05-12 00:11] gstroup commented on #78
Need more info.  Closing for now.  If still occurring in predix-webapp-starter, please open an issue there.
https://github.com/PredixDev/predix-webapp-starter

[2017-05-12 00:11] #78 closed

[2017-05-12 05:12] kasuladevivijay commented on #116
Hi @gstroup ,
It's still not working in the new version, the index-inline-styles.html are already imported in the index.html but the styles are not rendered. I tried with tables and toggle button, followed the steps as in predix-ui.com. This is what I got after implementing the styles
![screenshot 2017-05-12 10 36 40](https://cloud.githubusercontent.com/assets/6322307/25983049/6d0942dc-36ff-11e7-8

[2017-06-09 19:17] gstroup commented on #52
I believe this issue is fixed in https://github.com/PredixDev/predix-webapp-starter.  If not, please open an issue there.  Thanks.

[2017-06-09 19:17] #52 closed

[2017-06-09 19:19] gstroup commented on #73
Cleaning up old issues.  This tutorial should answer this question.
https://www.predix.io/resources/tutorials/tutorial-details.html?tutorial_id=2273&tag=2100&journey=Predix%20Web%20App%20Starter&resources=2101,1544,2225,1549,1736,2273
If not please raise an issue on https://github.com/PredixDev/predix-webapp-starter

[2017-06-09 19:19] #73 closed

[2017-06-09 19:23] gstroup commented on #84
Moved to new repo:
https://github.com/PredixDev/predix-webapp-starter/issues/7

[2017-06-09 19:23] #84 closed

[2017-07-06 19:46] jendfrench commented on #102
I know that this project has moved, but I wanted to let you know that in my case this issue (specifically, the issue that @PiotrekPaprocki mentioned where a secure springboot backend is returning 401) was due to proxy.js not getting a new client token after the client token has expired.  I modified proxy.js to store client token expiration datetime in the session as well, then check for expiration

[2017-07-06 20:02] jendfrench commented on #102
Also, @gstroup - regarding cookie expiration and oauth token expiration, after I resolved the client token issue above, I set my cookie maxAge to be the length of time my refresh token is good for (in my case 8 hours).  The passport strategy used in this app will not get you another oauth token after the refresh token expires unless you start a new session.

[2017-07-06 21:12] gstroup commented on #102
@jendfrench Thanks for the detailed info!  Yes, your solution makes sense.  At some point, I'm planning to switch over to use this little package, which handles the expiration, much like you did:

https://github.com/predixdev/predix-uaa-client

[2017-08-03 14:26] Janie-w3 opened #119 "How to make it default check-in and check-out date blank"
I'm using [px-rangepicker](https://www.predix-ui.com/#/components/px-rangepicker/) and I want to set it default check-in and check-out dates blank but could not find a way to do that. Both check-in and check-out dates are getting the current date. I lost a day to find out the way to make it blank.

My custom element looks like this:

`<date-fields
            id="field"
            from-moment="{{

[2017-08-03 16:43] gstroup commented on #119
This is an issue with the px-rangepicker component.  You can preset date & time to any date you like, but there's no way to make it blank.  I think there is already an issue raised in the px-rangepicker repo:
https://github.com/PredixDev/px-rangepicker/issues/32
You can comment on that one, or open a new issue if you think your issue is different.

[2017-08-03 16:43] #119 closed, assigned to nobody

[2017-09-15 17:27] gstroup commented on #88
fixed in new version of predix-webapp-starter.

[2017-09-15 17:27] #88 closed

[2017-09-15 17:27] gstroup commented on #115
fixed in new version of predix-webapp-starter.

[2017-09-15 17:27] #115 closed

[2017-09-15 17:28] gstroup commented on #92
removed from new version of predix-webapp-starter.

[2017-09-15 17:28] #92 closed

[2017-11-16 05:25] gaikwadrahul20 commented on #102
Hi @jendfrench I am also facing the same issue, I have replaced your code which gets the new token after it expires but somehow it is not solving the problem of 401 for secured api calls. I have to refresh the page to make it work.

[2017-11-16 06:00] poojakedar commented on #116
I'm facing same issue. someone please provide some solution

[2018-04-11 16:01] alishah730 opened #120 "Repo missing"
bower install is failing because the below repo is missing

https://github.com/PredixDev/px-sample-cards.git

[2018-05-08 09:42] prijilnath commented on #102
@gstroup There is any update for the same

[2018-05-08 15:58] gstroup commented on #102
This project is no longer being maintained.  But we have fixed this issue in the new predix-webapp-starter, by using the predix-uaa-client

https://github.com/PredixDev/predix-webapp-starter/blob/master/server/routes/proxy.js#L135